
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="Your_WebApp_ID"
    version="2.5">

    <!-- Here you go. -->
	<display-name>Archetype Created Web Application</display-name>
	
	
	
	<!-- Listener -->
	<listener>
		<listener-class>com.hai.config.MyServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.hai.config.MyRequestListener</listener-class>
	</listener>
	
	
	
	
	<!-- Servlet -->
	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>com.hai.controller.AccountController</servlet-class>
		
	</servlet>
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>com.hai.controller.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyUserController</servlet-name>
		<servlet-class>com.hai.controller.VerifyUserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VerifyUserResultController</display-name>
		<servlet-name>VerifyUserResultController</servlet-name>
		<servlet-class>com.hai.controller.VerifyUserResultController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HomeController</display-name>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>com.hai.controller.HomeController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.hai.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.hai.controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileController</display-name>
		<servlet-name>ProfileController</servlet-name>
		<servlet-class>com.hai.controller.ProfileController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductController</display-name>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>com.hai.controller.ProductController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewController</display-name>
		<servlet-name>ViewController</servlet-name>
		<servlet-class>com.hai.controller.ViewController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewDetailController</display-name>
		<servlet-name>ViewDetailController</servlet-name>
		<servlet-class>com.hai.controller.ViewDetailController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommentController</display-name>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>com.hai.controller.CommentController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddItemToCartController</display-name>
		<servlet-name>AddItemToCartController</servlet-name>
		<servlet-class>com.hai.controller.AddItemToCartController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CartController</display-name>
		<servlet-name>CartController</servlet-name>
		<servlet-class>com.hai.controller.CartController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveItemFromCartController</display-name>
		<servlet-name>RemoveItemFromCartController</servlet-name>
		<servlet-class>com.hai.controller.RemoveItemFromCartController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SubtractItemAmountFromCartController</display-name>
		<servlet-name>SubtractItemAmountFromCartController</servlet-name>
		<servlet-class>com.hai.controller.SubtractItemAmountFromCartController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PlusItemAmountController</display-name>
		<servlet-name>PlusItemAmountController</servlet-name>
		<servlet-class>com.hai.controller.PlusItemAmountController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WishListController</display-name>
		<servlet-name>WishListController</servlet-name>
		<servlet-class>com.hai.controller.WishListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddItemToWishlistController</display-name>
		<servlet-name>AddItemToWishlistController</servlet-name>
		<servlet-class>com.hai.controller.AddItemToWishlistController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveItemFromWishlistController</display-name>
		<servlet-name>RemoveItemFromWishlistController</servlet-name>
		<servlet-class>com.hai.controller.RemoveItemFromWishlistController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewWishlistController</display-name>
		<servlet-name>ViewWishlistController</servlet-name>
		<servlet-class>com.hai.controller.ViewWishlistController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExceptionHandler</display-name>
		<servlet-name>ExceptionHandler</servlet-name>
		<servlet-class>com.hai.exception.ExceptionHandler</servlet-class>
	</servlet>
	<servlet-mapping>

		<servlet-name>AccountController</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyUserController</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyUserResultController</servlet-name>
		<url-pattern>/verified</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileController</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewController</servlet-name>
		<url-pattern>/viewProducts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDetailController</servlet-name>
		<url-pattern>/viewDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddItemToCartController</servlet-name>
		<url-pattern>/addToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveItemFromCartController</servlet-name>
		<url-pattern>/removeFromCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubtractItemAmountFromCartController</servlet-name>
		<url-pattern>/subtractItemAmount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlusItemAmountController</servlet-name>
		<url-pattern>/plusItemAmount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WishListController</servlet-name>
		<url-pattern>/wishlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddItemToWishlistController</servlet-name>
		<url-pattern>/addToWishlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveItemFromWishlistController</servlet-name>
		<url-pattern>/removeFromWishlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewWishlistController</servlet-name>
		<url-pattern>/viewWishlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExceptionHandler</servlet-name>
		<url-pattern>/exceptionHandler</url-pattern>
	</servlet-mapping>

	

	<!-- This is default page for the website -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>


